#container {
	margin-left: 300px;
}

.items {
	cursor: pointer;
}


.example-enter {
  opacity: 0.01;
  margin-left:100px;
  transition: opacity 2.5s ease-in, margin-left 2.5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
  margin-left:20px;
}



.example-leave {
  opacity: 1;
  margin-left:0px;
  transition: opacity 2.5s ease-in, margin-left 2.5s ease-in;
}

.example-leave.example-leave-active {
 	margin-left:-100px;
  	opacity: 0.00;
}




.oppositeDirection .example-enter {
  margin-left:-100px;
}

.oppositeDirection .example-enter.example-enter-active {
  margin-left:10px;
}

.oppositeDirection .example-leave {
  margin-left:0px;
}

.oppositeDirection .example-leave.example-leave-active {
 	margin-left:100px;
}



.exampletwo-appear {
	opacity: 0.01;
	transition: opacity .5s ease-in;

}

.exampletwo-appear.exampletwo-appear-active {
  opacity: 1;
}